<a href="https://colab.research.google.com/github/sumantsharma16/machine-learning/blob/main/01_ML_Understanding_your_data_descriptive.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/titanic.csv')

# 1. How big is the data?

In [3]:
df.shape

(891, 4)

# 2. How does the data look like?

In [4]:
df.sample(5)

           Cabin Ticket number  Survived
197          NaN   4579      6         0
416          NaN  28220      6         1
378          NaN   2648      2         0
796          D17  17465      4         1
341  C23 C25 C27  19950      5         1

# 3. What is the data type of cols?

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Cabin     204 non-null    object
 1   Ticket    891 non-null    object
 2   number    891 non-null    object
 3   Survived  891 non-null    int64
dtypes: int64(1), object(3)
memory usage: 28.0+ KB

# 4. Are there any missing values?

In [6]:
df.isnull().sum()

Cabin       687
Ticket        0
number        0
Survived      0
dtype: int64

# 5. How does the data look mathematically?

In [7]:
df.describe()

         Survived
count  891.000000
mean     0.383838
std      0.486592
min      0.000000
25%      0.000000
50%      0.000000
75%      1.000000
max      1.000000

# 6. Are there dupicate values?

In [9]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Length: 891, dtype: bool

In [10]:
df.duplicated().sum()

24

# 7. How is the correlation between cols?

In [ ]:
df.corr()['Survived']