<a href="https://colab.research.google.com/github/sumantsharma16/machine-learning/blob/main/07_ML_ordinal_encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [19]:
df = pd.read_csv('/content/customer.csv')

In [20]:
df.sample(5)

    age  gender   review education purchased
28   48    Male     Poor    School        No
7    60  Female     Poor    School       Yes
29   83  Female  Average        UG       Yes
14   15    Male     Poor        PG       Yes
33   89  Female     Good        PG       Yes

In [21]:
df = df.iloc[:,2:]

In [22]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [6]:
from sklearn.preprocessing import OrdinalEncoder

In [23]:
from sklearn.model_selection import train_test_split

In [26]:
x_train, x_test, y_train, y_test = train_test_split(df.iloc[:,0:2],
                                                    df.iloc[:,-1], 
                                                    test_size=0.2)

In [27]:
x_train

     review education
33     Good        PG
18     Good    School
24  Average        PG
16     Poor        UG
48     Good        UG
3      Good        PG
15     Poor        UG
25     Good    School
10     Good        UG
38     Good    School
39     Poor        PG
49     Good        UG
41     Good        PG
36     Good        UG
30  Average        UG
7      Poor    School
12     Poor    School
43     Poor        PG
11     Good        UG
1      Poor        UG
35     Poor    School
20  Average    School
5   Average    School
26     Poor        PG
34  Average    School
42     Good        PG
37  Average        PG
40     Good    School
22     Poor        PG
19     Poor        PG
8   Average        UG
2      Good        PG
47     Good        PG
29  Average        UG
44  Average        UG
4   Average        UG
17     Poor        UG
0   Average    School
13  Average    School
27     Poor        PG

In [28]:
oe = OrdinalEncoder(categories=[['Poor', 'Average', 'Good'],['School','UG','PG']])

In [29]:
oe.fit(x_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [30]:
x_train = oe.transform(x_train)

In [31]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

In [32]:
x_train

array([[2., 2.],
       [2., 0.],
       [1., 2.],
       [0., 1.],
       [2., 1.],
       [2., 2.],
       [0., 1.],
       [2., 0.],
       [2., 1.],
       [2., 0.],
       [0., 2.],
       [2., 1.],
       [2., 2.],
       [2., 1.],
       [1., 1.],
       [0., 0.],
       [0., 0.],
       [0., 2.],
       [2., 1.],
       [0., 1.],
       [0., 0.],
       [1., 0.],
       [1., 0.],
       [0., 2.],
       [1., 0.],
       [2., 2.],
       [1., 2.],
       [2., 0.],
       [0., 2.],
       [0., 2.],
       [1., 1.],
       [2., 2.],
       [2., 2.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 2.]])

In [33]:
from sklearn.preprocessing import LabelEncoder

In [34]:
le = LabelEncoder()

In [35]:
le.fit(y_train)

LabelEncoder()

In [36]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [37]:
y_train = le.transform(y_train)
y_test = le.transform(y_test)

In [38]:
y_train

array([1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0])