<a href="https://colab.research.google.com/github/sumantsharma16/machine-learning/blob/main/08_ML_ColumnTransformer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [3]:
df = pd.read_csv('/content/covid_toy.csv')

In [4]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [5]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [6]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df.drop(columns=['has_covid']),
                                                    df['has_covid'],
                                                    test_size=0.2)

In [7]:
x_train

    age  gender  fever   cough       city
14   51    Male  104.0    Mild  Bangalore
38   49  Female  101.0    Mild      Delhi
49   44    Male  104.0    Mild     Mumbai
32   34  Female  101.0  Strong      Delhi
70   68  Female  101.0  Strong      Delhi
..  ...     ...    ...     ...        ...
25   23    Male    NaN    Mild     Mumbai
63   10    Male  100.0    Mild  Bangalore
30   15    Male  101.0    Mild      Delhi
50   19    Male  101.0    Mild      Delhi
47   18  Female  104.0    Mild  Bangalore

[80 rows x 5 columns]

In [8]:
from sklearn.compose import ColumnTransformer

In [9]:
transformer = ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(sparse=False,drop='first'),['gender','city'])
],remainder='passthrough')

In [10]:
transformer.fit_transform(x_train).shape

(80, 7)

In [11]:
transformer.transform(x_test).shape

(20, 7)